* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}
.container {
  /* overflow: hidden; */
  background: fixed;
}

/* id gaar edit hiij bn  */
#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Дэлгэцийн өргөнийг 100% дүүргэнэ */
  height: 100vh; /* Дэлгэцийн өндрийг 100% дүүргэнэ */
  z-index: -100;
  object-fit: cover; /* Видеог сунгаж гажуудуулахгүйгээр дэлгэц дүүргэнэ */
}
.content {
  display: flex;
  flex-direction: column;
  /* gap: 390px; */
  text-align: center;
}
.playPause {
  width: 120px;
  height: 65px;
  font-family: "Pacifico", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  position: relative;
  top: 940px;
  left: 100px;
  background-color: lightblue;
  color: midnightblue;
}
.playPause:active {
  background-color: midnightblue;
  color: lightblue;
}
.text {
  font-family: "Pacifico", sans-serif;
  font-size: 50px;
  color: rgb(202, 223, 242);
  position: relative;
  top: 240px;
}
